<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a routerLink="/" class="navbar-brand">College</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/professors" id="nav-link-id" class="nav-link">Professors</a>
        </li>
        <li>
          <a routerLink="/stockticker" id="nav-link-id" class="nav-link">Stock Ticker</a>
        </li>
        <li>
          <a routerLink="/books" id="nav-link-id" class="nav-link">Books</a>
        </li>
        <li>
          <a routerLink="/students" id="nav-link-id" class="nav-link">Students</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
